body {
    margin: 0;
    padding:0;
    zoom: 1;
    font-size: 10px;
}

h1 {
    font-size: 9vmin;
}

h2 {
    font-size: 4vmin;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav {
    height: 6.2vmin;
    width: 100%;
    position: fixed;
    top: 0;
    z-index:1;
}

.container {
    margin-left: 12vmin;
    height: 6.2vmin;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo > img{
    top: 0;
    position: absolute;
    width: 4vmin; 
    height: 6vmin;
}

.menu {
    float: right;
    font-size: 2.2vmin;
    padding-top: 1.8vmin;
    text-align: center; 
}

.menu > l1 {
    display: inline-block;
    margin-right: 5.4vw;
}

.main{
    margin-top: 6.2vmin;
}

header {
    background-image: url("images/color.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 89em;
    width: 100%;
    opacity: 1;
}

.title-wrapper {
    margin: auto;
    padding-top: 10rem;
    text-align: center;
    width: 47%;
}

.subtitle-wrapper {
    margin: auto;
    margin-top: 10rem;
    text-align: center;
    width: 100%;
}

.subtitle-wrapper > l1 {
    display: inline-block;
    font-family: 'Franklin Gothic Medium';
}

.subtitle1 {
    color: yellow;
}

.subtitle2 {
    color:  red;
    margin-left: 16vw;
    margin-right: 14vw;
    text-align: center;
}

.subtitle3 {
    color: purple;
}

.intro-section {
    background-color: #4AD1D9;
    font-size: 2em;
    height: 44.58em;
    width: 100%;
}

.intro {
    height: 40em;
    float: left;
    padding-left: 5%;
    padding-top: 5rem;
    width: 48.5%;
    overflow: auto; 
}

.intro > h3 {
    margin: 0;
}

.githublogo > a > img {
    height: 10em;
    width: 10em;
    margin-left: 19%;
    margin-top: 3.7rem;
}

.musicshakelogo > a > img {
    height: 10em;
    width: 10em;
    margin-left: 19%;
    margin-top: 5rem;
}

.soundcloudlogo > a > img {
    height: 10em;
    width: 10em;
    margin-left: 19%;
    margin-top: 5rem;
}

.contact-section {
    background-color: #E9902B;
    display: inline-block;
    font-size: 2em;
    height: 39.5em;
    width: 100%;
    display: flex;
}

.contact-form {
    margin-top: 6em;
    margin-left: 6em;
    width: 80%;
}

#contact-email {
    margin-bottom: 1em;
}

#contact-subject {
    margin-bottom: 1em;
}

.contact-info {
    margin-top: 5em;
    width: 40%;
}

.contact-info > h2 {
    font-size: 2em;
}

input[type=text] {
    top: 0;
}

.footer {
    background-color: #492600;
    font-size: 2em;
    height: 5em;
    width: 100%;
}

.footer-stuff > l1 {
    margin-right: 5em;
}


