body {
    margin: 0;
    padding:0;
    zoom: 1;
    font-size: 10px;
    max-width: 960px;
    min-height: 100%; 
}

h1 {
    font-size: 10em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav {
    height: 6.2vmin;
    width: 100%;
    position: fixed;
    top: 0;
    z-index:1;
}

.container {
    margin-left: 12vmin;
    height: 6.2vmin;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo > img{
    top: 0;
    position: absolute;
    width: 4vmin; 
    height: 6vmin;
}

.menu {
    float: right;
    font-size: 2.2vmin;
    padding-top: 1.8vmin;
    text-align: center; 
}

.menu > l1 {
    display: inline-block;
    margin-right: 5em;
}

.main{
    margin-top: 6.2vmin;
}

.title-wrapper {
    margin: auto;
    margin-top: 10rem;
    text-align: center;
    width: 44%;
}

.intro-section {
    background-color: #4AD1D9;
    font-size: 2em;
    height: 44.58em;
    margin-top: 55.63rem;
    position: absolute;
    width: 100%;
}

.contact-section {
    background-color: #E9902B;
    font-size: 2em;
    height: 39.5em;
    margin-top: 89.08em;
    position: absolute;
    width: 100%;
}

.footer {
    background-color: #A9A9A9;
    font-size: 2em;
    height: 5em;
    margin-top: 128.58em;
    position: absolute;
    width: 100%;
}

