body {
    background-color: #fff;
    font-family: times;
}

.nav {
    background-color:#363636;
}

.menu {
    color: #FFFFFF;
    font-family: times;
}

a {
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
}

.menu > l1{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transition: 0.25s all ease-in-out 0s;
    -webkit-transition: 0.25 all ease-in-out 0s;
    -moz-transition: 0.25s all ease-in-out 0s;
    -o-transition: 0.25s all ease-in-out 0s;
}

.menu > l1:hover {
    color: #DDDDDD;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transition: 0.25s all ease-in-out 0s;
    -webkit-transition: 0.25sall ease-in-out 0s;
    -moz-transition: 0.25s all ease-in-out 0s;
    -o-transition: 0.25s all ease-in-out 0s;
}

.menu > l1:active {
    color: #000;
}


a:hover {
    color: #CACACA;
}

a:active {
    color: #000000;
}

.header-title {
    background-color:rgba(225, 225, 225, 0.37);
    border: solid;
    color: #000000;
    font-family: 'Gill Sans';
    font-size: 8.4vmin;
    font-size-adjust: auto;
}

.intro {
    margin: auto;
    text-align: center;
}

input[type=submit] {
    background-color: #2C3CFE;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 1em;
    padding: 1em 2em;
}

input[type=submit]:hover {
    background-color: #0013FF;
}

.footer-stuff {
    margin-top: 2.5rem;
    display: inline-block;
    width: 100%;
    font-family: "Cambria";
    text-align: center;
}

.footer-stuff > l1 > p3 {
    color:#ACACAC;
}




