.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
  font-size: 1.7rem;
  font-weight: normal;
}

.textStyle {
  font-family: 'Consolas';
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  white-space: pre-line;
}

.contentScroll {
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 50px);
}

.animation-enter {
  margin-top: -100vh;
  transform: translateY(-150%);
}

.animation-enter-active {
  transform: translateY(0%);
  transition: all 500ms ease-in-out;
}

.animation-exit {
  transform: translateY(-100%);
  height: '100%';
}

.animation-exit-active {
  transform: translateY(50%);
  height: '0px';
  transition: all 500ms ease-in-out;
}

